@font-face {
  font-family: AvantGarde;
  src: url(fonts/avant_garde.otf);
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    font-family: AvantGarde, sans-serif;
    background-color: #f9f8f4;
}

.hero {
    flex: 0 1 35%;
    min-width: 300px;
}

.hero-image {
    width: 100%;
    object-fit: contain;
}

.hero-caption {
    position: relative;
    bottom: 3rem;
    width: 100%;
    text-align: center;
    color: white;
}

.info-container {
    flex: 0 1 65%;
}

.info-text {
    font-size: 1.5rem;
    padding-left: 2vw;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #dce5ee;
    padding: 2vw;
    box-shadow: 0 5px 5px #c6ced6;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 500px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] {
    appearance: none;
    border-radius: 5px;
    font-size: 1rem;
}

.form-item {
    display: flex;
    flex-direction: column;
}

.help-text {
    font-size: .8rem;
    color: #6e7277;
    width: 350px;
}

.checkbox {
    display: inline;
}

button {
    display: inline-block;
    font-family: inherit;
    box-sizing: initial;
    max-width: fit-content;
    font-size: 1rem;
    background-color: #0b2244;
    color: #f9f8f4;
    border-radius: 8px;
    border: none;
    padding: .5rem 3rem;
    box-shadow: 2px 3px 3px #9aa0a6;
}

button:hover {
    transform: translate(.5px, -1px);
    box-shadow: 3px 5px 5px #9aa0a6;
}

button:active {
    transform: translate(-1px, 2px);
    box-shadow: none;
}

:invalid {
    border-color: red;
}